<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>945777989406-629o7h69mtiga2057t9b8t9oaobn1ta1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945777989406-629o7h69mtiga2057t9b8t9oaobn1ta1</string>
	<key>API_KEY</key>
	<string>AIzaSyAPCiwL0InEu7izIA7_1JC9gsRu9eLJ0qE</string>
	<key>GCM_SENDER_ID</key>
	<string>945777989406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itsdayoff.ps</string>
	<key>PROJECT_ID</key>
	<string>ps-project-1d56c</string>
	<key>STORAGE_BUCKET</key>
	<string>ps-project-1d56c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:945777989406:ios:5c373259cd526f46</string>
	<key>DATABASE_URL</key>
	<string>https://ps-project-1d56c.firebaseio.com</string>
</dict>
</plist>